#!/usr/bin/env bash
#
# env.sh.template
#
# Copy this file to `env.sh` and edit.
# DO NOT commit secrets, passwords, API keys, tokens, etc.
#
# Usage:
#   source ./env.sh
#

# Port for backend
export PORT=8080

# SQLite database file path
export DB_PATH="./simpleboard.db"

# Comma-separated list of allowed origins requests
# Example: "http://localhost:4200,https://<your-special-domain>.com"
export CORS_ORIGINS="http://localhost:4200"
