#board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  position: relative;
  width: 50vw;
}

.board-square {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    background-color: #fff;
}

.board-square.dark {
    background-color: black;
}