<!-- Base board layout -->
@if (boardTimerObservable$ | async; as timer) {
  <span id="game-timer">{{ getTimerText(timer) }}</span>
}
<div id="board" #board>
    @if (boardPiecesObservable$ | async; as piecesArray) {

    <!-- Squares -->
        @for (square of grid; track $index) {
            <div class="board-square" [class.dark]="isDarkSquare($index)">
              @if (targetableObservable$ | async; as targetables) {
                @if (isTargetable($index, targetables)) {
                  <span class="targetable">&bullet;</span>
                }
              }
            </div>
        }
        <!-- Pieces -->
         @for (piece of piecesArray; track $index) {
            <app-piece
                [piece]=piece
                [style.top]="(piece.position.y * 12.5) + '%'"
                [style.left]="(piece.position.x * 12.5) + '%'"
                [boardRef]="board"
                (pieceSelected)="onPieceSelected(piece)"
                (moved)="onPieceMoved(piece, $event)"
                ></app-piece>
         }
    }
</div>

<!-- Game Over Modal -->
@if (gameStatusObservable$ | async; as status) {
  @if (status === 'Draw' || status === 'WinWhite' || status === 'WinBlack') {
    <div class="game-over-modal">
      <div class="modal-content">
        <h2>{{ getGameStatusText(status) }}</h2>
      </div>
    </div>
  }
}
