<!-- Base board layout -->
<div id="board">
    @if (boardState$ | async; as piecesMap) {
            @for (row of rows; track $index; let rowIdx = $index) {
            <div class="board-row">
                @for (col of cols; track $index; let colIdx = $index) {
                    <div class="board-square">
                        @if (getItem(piecesMap, rowIdx, colIdx); as item) {
                            <app-piece [piece]=item cdkDrag></app-piece>
                        } @else {

                        }
                    </div>
                }
            </div>    
        }
    }
</div>
