.chess-piece {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.draggable-piece {
    width: 100%;
    height: 100%;
}

:host {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
}